Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
src/main/java/com/michelin/ns4kafka/controllers/InitController.java
src/main/resources/application.dev.yml
src/main/resources/application.yml
