<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!-- <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern> -->
            <pattern>%highlight(%-5level) %magenta(%logger{5}) - %msg  %gray([%thread]) %n</pattern>
        </encoder>
    </appender>
    <logger name="io.micronaut.security" level="info"/>
    <logger name="com.michelin" level="info" />
    <logger name="org.apache.kafka" level="error" />
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
